<h1>Welcome to the Intramural Sports Website</h1>
<p>Please select an option below</p>

<%= link_to "Look up schedule", schedules_path %>
<%= link_to "Look up athletes", athletes_path %>
<%= link_to "Look up sports", sports_path %>
